<div id="profile-container">
    <div id="profile-personal-container">
        <div id="profile-personal-image"><img src="/public/images/profile-icon.png"></div>
        <div id="profile-personal-fullname">{{firstName}}&nbsp;{{lastName}}</div>
        <button id="profile-personal-edit-button">Edit Profile</button>
        <div id="profile-personal-username">@{{username}}</div>
        <div id="profile-personal-meta-container">
            <div id="profile-personal-meta-height">
                {{height}}
            </div>
            <div id="profile-personal-meta-weight">
                {{weight}}{{weightUnit}}
            </div>
        </div>
        <div id="profile-personal-meta-sport-container">
            {{#each sports}}
            <div class="profile-personal-meta-sport">{{this}}</div>
            {{/each}}
        </div>
        <a id="logoutButton" href="/logout">Log Out</a>
    </div>
    <div id="profile-posts-container">
        <div id="profile-posts-header-container">
            <h1>Posts</h1>
            <button id="profile-posts-create-button">Create +</button>
        </div>

        {{#each posts}}
        <div class="posts-container">
            <div class="profile-post">
                <div class="profile-post-title">{{title}}</div>
                <div class="profile-post-content">{{body}}</div>
                <div class="profile-post-caption-container">
                    <div class="profile-post-caption-username">{{username}}</div>
                </div>
                {{#if tags}}
                <div class="post-tags">Tags: {{tags}}</div>
                {{/if}}
                <div class="profile-post-likes">Likes: {{likes}}</div>
                <div class="profile-post-comments-placeholder">
                    View comments
                </div>
                <div class="profile-post-comments-container hidden">
                    {{#each comments}}
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">{{username}}</div>
                        <div class="profile-post-comment-content">{{comment}}</div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <script src="/public/js/profilePage-client.js"></script>