<title>Tracklete | Profile</title>

<div id="profile-page">
<div id="profile-container">
    <div id="profile-personal-container">
        <div id="profile-personal-image"><img src="/public/images/profile-icon.png"></div>
        <div id="profile-personal-fullname">{{firstName}}&nbsp;{{lastName}}</div>
        <button id="profile-personal-edit-button">Edit Profile</button>
        <div id="profile-personal-username">@{{username}}</div>
        <div id="profile-personal-meta-container">
            <div id="profile-personal-meta-height">
                {{height}}
            </div>
            <div id="profile-personal-meta-weight">
                {{weight}}{{weightUnit}}
            </div>
        </div>
        <div id="profile-personal-meta-sport-container">
            {{#each sports}}
            <div class="profile-personal-meta-sport">{{this}}</div>
            {{/each}}
        </div>
    </div>
    <div id="profile-posts-container">
        <div id="profile-posts-header-container">
            <h1>Posts</h1>
            <button id="profile-posts-create-button">Create +</button>
        </div>
        
        <div id="profile-posts">
            <div class="profile-post">
                <div class="profile-post-title">Post 3</div>
                <div class="profile-post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cupiditate odit consequatur! Omnis nemo praesentium nesciunt aperiam voluptate accusamus. Deserunt eaque laborum sunt minima dolore aperiam commodi reprehenderit, doloribus maxime!</div>
                <div class="profile-post-likes">
                    1,831 likes
                </div>
                <div class="profile-post-caption-container">
                    <div class="profile-post-caption-username">zrimshni25</div>
                    <div class="profile-post-caption-content">First workout of the year!</div>
                </div>
                <div class="profile-post-comments-placeholder">
                    View comments
                </div>
                <div class="profile-post-comments-container hidden">
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">tlapinta01</div>
                        <div class="profile-post-comment-content">Nice work bro</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">smaida</div>
                        <div class="profile-post-comment-content">Keep it up!</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">kshag23</div>
                        <div class="profile-post-comment-content">Good work</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">yw456</div>
                        <div class="profile-post-comment-content">Awesome!</div>
                    </div>
                </div>
            </div>
            <div class="profile-post">
                <div class="profile-post-title">Post 2</div>
                <div class="profile-post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cupiditate odit consequatur! Omnis nemo praesentium nesciunt aperiam voluptate accusamus. Deserunt eaque laborum sunt minima dolore aperiam commodi reprehenderit, doloribus maxime!</div>
            <div class="profile-post-likes">
                    1,232 likes
                </div>
                <div class="profile-post-caption-container">
                    <div class="profile-post-caption-username">zrimshni25</div>
                    <div class="profile-post-caption-content">New PR!</div>
                </div>
                <div class="profile-post-comments-placeholder">
                    View comments
                </div>
                <div class="profile-post-comments-container hidden">
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">tlapinta01</div>
                        <div class="profile-post-comment-content">Niceeeeeeee</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">smaida</div>
                        <div class="profile-post-comment-content">Keep going</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">kshag23</div>
                        <div class="profile-post-comment-content">solid!</div>
                    </div>
                </div>
            </div>
            <div class="profile-post">
                <div class="profile-post-title">Post 1</div>
                <div class="profile-post-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus cupiditate odit consequatur! Omnis nemo praesentium nesciunt aperiam voluptate accusamus. Deserunt eaque laborum sunt minima dolore aperiam commodi reprehenderit, doloribus maxime!</div>
                <div class="profile-post-likes">
                    898 likes
                </div>
                <div class="profile-post-caption-container">
                    <div class="profile-post-caption-username">zrimshni25</div>
                    <div class="profile-post-caption-content">Another great workout!</div>
                </div>
                <div class="profile-post-comments-placeholder">
                    View comments
                </div>
                <div class="profile-post-comments-container hidden">
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">tlapinta01</div>
                        <div class="profile-post-comment-content">have a good summer!</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">smaida</div>
                        <div class="profile-post-comment-content">comment!</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">kshag23</div>
                        <div class="profile-post-comment-content">comment!</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">yw456</div>
                        <div class="profile-post-comment-content">comment!</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">user123134315</div>
                        <div class="profile-post-comment-content">comment!!!!!!!</div>
                    </div>
                    <div class="profile-post-comment">
                        <div class="profile-post-comment-username">user4569834753</div>
                        <div class="profile-post-comment-content">commentsss!!!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  
<script src="/public/js/profilePage-client.js"></script>


