{{!-- THIS IS OUR WORKOUT PAGE --}}

<div id="workouts-container">
    <div id="workouts-personal-container">
        <div id="workouts-personal-image"><img src="/public/images/profile-icon.png"></div>
        <div id="workouts-personal-fullname">{{firstName}}&nbsp;{{lastName}}</div>

        <div id="workouts-personal-username">@{{username}}</div>
        <div id="workouts-personal-stats-container">
            <div id="workouts-personal-stats-workouts">
                Workouts: {{workoutsTotal}}
            </div>
            <div id="workouts-personal-stats-time">
                Time Spent: XXh XXm
            </div>
            <div id="workouts-personal-stats-cal">
                Calories Burned: XXXXcal
            </div>
        </div>
        
    </div>
    <div id="workouts-workout-container">
        <div id="workouts-workout-header-container">
            <h1>Workouts</h1>
            <button id="workouts-workout-add-button">Add +</button>
        </div>

        <div class="workouts-no-workouts-yet"></div>
        
        <div id="workouts-workout-grid">
        {{#each workouts}}
            <div class="workouts-workout-individual">
                <div class="workouts-workout-title">
                    <div class="workouts-workout-type">{{this.workoutType}}</div>
                    <div class="workouts-workout-cals">{{this.caloriesBurned}} cal</div>
                </div>
                <div class="workouts-workout-subtitle">
                    <div class="workouts-workout-date">{{this.date}}</div>
                    <div class="workouts-workout-time">{{this.timeElapsed}}</div>
                </div>
                <div class="workouts-workout-exercise-grid">
                    <div class="workouts-workout-exercise-grid-item-header grid-exercise">Exercise</div>
                    <div class="workouts-workout-exercise-grid-item-header grid-sets">S/d
                    </div>
                    <div class="workouts-workout-exercise-grid-item-header grid-reps">
                    R/d
                    </div>
                    <div class="workouts-workout-exercise-grid-item-header grid-weight">
                    W/
                    </div>

                    {{#each this.exercises}}
                    <div class="workouts-workout-exercise-grid-item grid-exercise">{{this.exerciseName}}</div>
                    <div class="workouts-workout-exercise-grid-item grid-sets">
                        {{#if this.distance}}
                            {{this.distance}}
                        {{else if this.sets}}
                            {{this.sets}}
                        {{else}}
                            Else
                        {{/if}}
                    </div>
                    <div class="workouts-workout-exercise-grid-item grid-reps">
                        {{#if this.distanceUnits}}
                            {{this.distanceUnits}}
                        {{else if this.reps}}
                            {{this.reps}}
                        {{else}}
                            Else
                        {{/if}}
                    </div>
                    <div class="workouts-workout-exercise-grid-item grid-weight">
                        {{#if this.distance}}
                            {{this.timeElapsed}}
                        {{else if this.weight}}
                            {{this.weight}} {{this.weightUnits}}
                        {{else}}
                            Else
                        {{/if}}
                    </div>
                    {{/each}}

                </div>
                <div class="workouts-workout-button-container">
                    <button class="workouts-workout-delete-button flex">
                    <img src="/public/images/trashIcon.png">
                    </button>
                    <button class="workouts-workout-edit-button flex"><img src="/public/images/edit-icon.png">Edit Workout</button>
                </div>
                

            </div>

        {{/each}}

        </div>
    </div>
</div>  

<script src="/public/js/workoutPage-client.js"></script>
